[Unit]
Description=chardev boot test
After=systemd-modules-load.service
Requires=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo "boot test from systemd" > /dev/chardev && cat /dev/chardev'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
